<div class="book-card" *ngFor="let book of books">
    <div style="background: url({{book.secondaryData.bookImageURL}});" class="book-card-image"><span class="book-card--genre">{{book.secondaryData.bookGenre}}</span></div>
    <div class="book-card--main-info">
        <h3  class="book-card--main-info-heading">{{book.mainData.bookTitle}}</h3>
        <h4  class="book-card--main-info-author">{{book.mainData.bookAuthor}}</h4>
    </div>
    <div class="book-card--secondary-info">
        <p  class="book-card--secondary-info-synopsis">{{book.secondaryData.bookSynopsis}}</p>
        <p  class="book-card--secondary-info-published-date">{{book.secondaryData.bookPublishedDate}}</p>
    </div>
    <div class="book-card-button-section">
        <div class="book-card-button-section--popup">
            <button *ngIf="book.bookEditable=='Editable'"><a href="/view-book/{{book.id}}">View</a></button>
            <button *ngIf="book.bookEditable=='Editable'"><a href="/edit-book/{{book.id}}">Edit</a></button>
            <button (click)="deletePopup()" *ngIf="book.bookDeletable=='Deletable'">Delete</button>
            <div *ngIf="wantToDelete">
                <p>Are you sure you want to delete?</p>
                <button  (click)="onDelete(book.id)">Delete</button>
                <button  (click)="resetDelete()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- https://stackoverflow.com/questions/44864303/send-data-through-routing-paths-in-angular -->