<app-content-area-header></app-content-area-header>
<div class="content-area">
    <p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p><p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p><p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p><p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
<p>content-area works!</p>
</div>