<form [formGroup]="bookFormWizard" (ngSubmit)="onSubmit()" class="book-card-form" style="border: 1px solid;margin: 0 0 10px 0;padding: 20px;">
    <h3>Create/Edit this book with Wizard</h3>
    <div formGroupName="mainData" class="book-card-form--main-info">

        <h4>Please write the Title and Author:</h4>

        <p  class="book-card-form--main-info-heading">Title of the book:</p>
        <input 
            formControlName="bookTitle"
            type="text" 
            id="bookTitle" 
            class="form-control"
            name="bookTitle">
            
        <p  class="book-card--main-info-author">Author of the book:</p>
        <input 
            formControlName="bookAuthor"
            type="text"  
            id="bookAuthor" 
            class="form-control" 
            name="bookAuthor">
    </div>
    <div formGroupName="secondaryData" class="book-card-form--secondary-info">

        <h4>Please write the Synposis, Published date and Genre:</h4>

        <p  class="book-card-form--secondary-info-synopsis">Synopsis:</p>
        <textarea 
            formControlName="bookSynopsis"
            type="text" 
            rows="4" 
            id="bookSynopsis" 
            class="form-control" 
            name="bookSynopsis">
        </textarea>

        <p  class="book-card-form--secondary-info-published-date">Published date:</p>
        <input 
            formControlName="bookPublishedDate"
            type="date"  
            id="bookPublishedDate" 
            class="form-control" 
            name="bookPublishedDate">

        <p  class="book-card-form--secondary-info-genre">Genre</p>
        <div *ngFor="let genre of bookGenres">
            <label>
                <input 
                class="form-control"
                type="radio"
                name="bookGenre"
                formControlName="bookGenre"
                [value]="genre">{{genre}}
            </label>
    </div>
    </div>
    <div class="book-card-form-button-section">
        <h4>The book is ready!</h4>
        
        <button 
            class="btn btn-submit" 
            [disabled]="!(bookFormWizard.get('mainData')?.valid &&bookFormWizard.get('secondaryData')?.valid)" 
            type="submit">
            All done!
        </button>

        <button class="btn btn-cancel" type="">Cancel</button>
    </div>
</form>
<!-- <p *ngIf="bookFormWizard.get('bookTitle')?.valid&&bookFormWizard.get('bookAuthor')?.valid">All inputs in this section have been given!</p> -->
<!-- [selected]="bookTitle.value && bookAthor.value&&bookGenre.value && bookSynopsis.value && bookPublishedDate.value"
[selected]="bookTitle.value||bookAthor.value||bookGenre.value || bookSynopsis.value || bookPublishedDate.value"-->