<div class="book-card"  style="border: 1px solid;margin: 0 0 10px 0;padding: 20px;">
    <div class="book-card-color"><span>Genre</span></div>
    <div class="book-card--main-info">
        <h3  class="book-card--main-info-heading">Title of the book</h3>
        <h4  class="book-card--main-info-author">Author of the book</h4>
    </div>
    <div class="book-card--secondary-info">
        <p  class="book-card--secondary-info-synopsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p  class="book-card--secondary-info-releade-date">24/02/2022</p>
    </div>
</div>