<div class="book-view">
    <button class="goBackButton"><a href="../">Go back</a></button>
    <div class="book-view--top">
        <div style="background:url({{book.secondaryData.bookImageURL}});filter: blur(8px);transform: scale(1.5);height: 100%;width: 100%;"></div>
    </div>
    <div class="book-view--bottom">
        <img style="height: 300px;float:left;" src="{{book.secondaryData.bookImageURL}}" alt="book-image">
        <h1>{{book.mainData.bookTitle}} </h1>
        <h2>{{book.mainData.bookAuthor}}</h2>
        <p style="max-width: 600px;">{{book.secondaryData.bookSynopsis}} </p>
        <h3 style="font-size: 14px;">Published in : {{book.secondaryData.bookPublishedDate}}</h3>
    </div>
</div>