<form class="book-card-form" style="border: 1px solid;margin: 0 0 10px 0;padding: 20px;">
    <h3>Edit this book</h3>
    <div class="book-card-form--main-info">
        <p  class="book-card-form--main-info-heading">Title of the book:</p>
        <input type="text">
        <p  class="book-card--main-info-author">Author of the book:</p>
        <input type="text">
    </div>
    <div class="book-card-form--secondary-info">
        <p  class="book-card-form--secondary-info-synopsis">Synopsis:</p>
        <textarea type="text" rows="2" cols="10"></textarea>
        <p  class="book-card-form--secondary-info-releade-date">Published date:</p>
        <input type="text">
    </div>
    <div class="book-card-form-button-section">
        <button>Save</button>
        <button>Cancel</button>
        <button>Delete</button>
    </div>
</form>